{
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "jsxSingleQuote": false,
  "singleQuote": false,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"]
}
